<h1>Edit that Cat</h1> 

<form action="<%= cats_url %>" method="POST">
<input type="hidden" name="edit_cat" value="PATCH">

  <label for="cat_name">Cats Name</label>
  <input id="cat_name" value="<%= @cats.name %>" type="text" name="cat[name]">
  <br>
  <label for="cat_sex">Cats Sex</label> 
  <input id="M" value="M" type="radio" name="cat[sex]" <% if @cats.sex == "M" %> <%= "checked" %>

<% end %>>
  <label for="M">Male</label>
  <br>
  <input id="F" value="F" type="radio" name="cat[sex]" <% if @cats.sex == "F" %> <%= "checked" %>
<% end %>>
  <label for="F">Female</label>
  <br>
  <label for="cat_birth_date">Cats Birthdate</label>

    <input type="date" id="cat_birth_date" value="<%= @cats.birth_date %>"name="cat[birth_date]"
       value="2018-07-22"
       min="2000-01-01" max="2018-12-31">
    <br>
  <label for="cat_color">---Choose a color---</label>
    <select name='cat[color]' id='cat_color'> 
    <option value="<%= @cats.color %>" selected><%= @cats.color %></option>
    <option value='Orange'>Orange</option> 
    <option value='Black'>Black</option>
    <option value='Brown'>Brown</option>
    <option value='Yellow'>Yellow</option>
    </select> 
    <br>
    <label for="description">Tell us about your Cat</label>
    <textarea id="cat_description" name='cat[description]'><%= @cats.description %></textarea>
    <input type="submit" value="Update your Cat!">
    
</form>