<h1> You have selected</h1> 
<table>
    <thead>
        <tr>
            <th colspan="2"><%= @cats.name %></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Birth Date</td>
            <td><%= @cats.birth_date %></td>
        </tr>
         <tr>
            <td>Color</td>
            <td><%= @cats.color %></td>
        </tr>
         <tr>
            <td>Sex</td>
            <td><%= @cats.sex %></td>
        </tr>
         <tr>
            <td>Description</td>
            <td><%= @cats.description %></td>
        </tr>
    </tbody>
</table>

